<ion-view view-title="About">
  <ion-content>
    <div class="item item-text-wrap">
      <div style="font-size: 22px; margin-bottom: 12px; font-weight:bold;">SayMyNameRight</div>
      <div style="text-align:left;" class="text-general">
      SayMyNameRight is a free app whose purpose is to stress out the importance of pronouncing people's
      name correctly. This app will teach you how to utter it right.
      </div>
    </div>
    <div class="item item-text-wrap">
      <div style="font-size: 22px; margin-bottom: 12px; font-weight:bold;">Contact:</div>
      <div style="text-align:left;" class="text-general">
      Sould you have questions, concerns, or queries, or if you enconter difficulties while navigating
      and using the app, please contact with elizabeth.diaz@uta.edu or eli7diaz@gmail.com
      <div>
    </div>
  </ion-content>
</ion-view>
