<ion-view view-title="Change Password" cache-view="false">
  <ion-nav-buttons side="left">
    <a href="#/app/settings" class="button button-icon ion-ios-arrow-back" style="color:#fff;"> Back</a>
  </ion-nav-buttons>

  <ion-content>
    <form name="cambiarClaveForm" ng-submit="doChangePassword()" novalidate>
      <div class="list">
        <label class="item item-input">
          <input class="input-registro" type="text" value="{{Username}}" readonly style="color:#ccc; background:transparent;">
        </label>
        <label class="item item-input">
          <input class="input-registro" type="password" name="password" placeholder="Old Password" ng-model="data.password" autocapitalize="off" required>
        </label>
        <label class="item item-input">
          <input class="input-registro" type="password" name="newpassword" placeholder="New Password" ng-model="data.newpassword" autocapitalize="off" required>
        </label>
        <label class="item item-input">
          <input class="input-registro" type="password" name="newpassword2" placeholder="Retype Password" ng-model="data.newpassword2" autocapitalize="off" required>
        </label>
        <label class="item">
          <input class="button button-block button-dark" type="submit" name="submit" value="CHANGE PASSWORD" ng-disabled="cambiarClaveForm.$invalid">
        </label>
        <div>
        <label class="item item-input">
          <div align="center" ng-show="!cambiarClaveForm.$pristine && cambiarClaveForm.password.$error.required">The field Password is required.</div>
        </label>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
