<ion-view view-title="My Courses">
  <ion-content>
      <ion-list>
      <ion-item ng-repeat="section in sections">
        <ion-grid no-padding>
          <ion-row>
            <div> <!-- Profesor o Estudiante-->
              <a href="#/app/courses/{{section.id_section}}" class="courses-list">
                <ion-col class="courses-list-title">{{section.name_section}} - </ion-col>
                <ion-col class="courses-list-title">{{section.name_course}} </ion-col>
              </a>
            </div>
          </ion-row>
        </ion-grid>

      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
