<ion-view hide-back-button="false">
	<ion-nav-buttons side="left">
			<a href="#/app/courses" class="button button-icon ion-ios-arrow-back" style="color:#fff;"> Back</a>
	</ion-nav-buttons>
	<ion-nav-title>{{section.name}} - {{course.name}}</ion-nav-title>

	<ion-content class="course-list">
			<ion-item>
				<ion-grid>
				<h3 style="color: #3333cc; font-size: 16px;">Professor</h3>
					<div class="row">
						 <div style="border: 2px solid #3333cc; height: 80px; width: 80px;" >
								<img ng-if="professor.picture != '' " style="width: 70px; height: 70px; margin: 3px;" ng-src="http://www.diazapps.com/{{professor.picture}}">
						 	 	<img ng-if="professor.picture == '' " style="width: 70px; height: 70px; margin: 3px;" ng-src="img/null.png">
						 </div>
						 <div class="col" ><h2 style="color: #575757; white-space: normal;"><span>{{professor.first_name}}</span> <span>{{professor.last_name}}</span></h2></div>
						 <div class=""><img style="height: 40px; " ng-src="img/sonido.png" onClick="document.getElementById('audio_play').play(); return false;"></div>
						 <audio ng-src="{{ professor.sound | diazapps }}" type="audio/mpeg" id="audio_play"></audio>
					</div>
				</ion-grid>
			</ion-item>

			<ion-item ng-if="assistant.first_name.length > 1">
				<ion-grid>
				<h3 style="color: #3333cc; font-size: 16px;">Teaching Assistant</h3>
					<div class="row">
						 <div style="border: 2px solid #3333cc; height: 80px; width: 80px; ">
							  <img ng-if="assistant.picture != '' " style="width: 70px; height: 70px; margin: 3px;" ng-src="http://www.diazapps.com/{{assistant.picture}}">
							  <img ng-if="assistant.picture == '' || student.picture.indexOf('http') === 0 " style="width: 70px; height: 70px; margin: 3px;" ng-src="img/null.png">
						 </div>
						 <div class="col"><h2 style="color: #575757; white-space: normal;">{{assistant.first_name}} {{assistant.last_name}}</h2></div>
						 <div class=""><img style="height: 40px; " ng-src="img/sonido.png" onClick="document.getElementById('audio_play2').play(); return false;"></div>
							<audio ng-src="{{ assistant.sound | diazapps }}" type="audio/mpeg" id="audio_play2"></audio>
					</div>
				</ion-grid>
			</ion-item>

			<ion-list style="color: #3333cc;">
				<h4 style="font-size: 16px; padding-left:20px; color: #3333cc;">Students</h4>
				<ion-item ng-repeat="student in students">
					<ion-grid>
						<div class="row">
								<div class="col col-20">
									<a class="perfil-avatar item-avatar">
										<img ng-if="student.picture != '' " style="padding: 2px; border: 2px solid #3333cc;" ng-src="http://www.diazapps.com/{{student.picture}}">
									  <img ng-if="student.picture == '' || student.picture.indexOf('http') === 0 " style="padding: 2px; border: 2px solid #3333cc;" ng-src="img/null.png">
									</a>
								</div>
								<div class="col col-60">
									<h2 style="color: #575757;"><span>{{student.first_name}}</span> <span>{{student.last_name}}</span></h2>
								</div>
								<div ng-if="student.sound.length > 1" class="col">
										<img style="height: 40px; float:right;" ng-src="img/sonido.png" ng-click="playAudio({{$index}})">
										<audio ng-src="{{ student.sound | diazapps }}" type="audio/mpeg" id="audio_play{{$index}}"></audio>
								</div>
								<div ng-if="student.sound.length < 1" class="col">
										<img style="height: 40px; float:right;" ng-src="img/noaudio.png">
								</div>
						</div>
					</ion-grid>
				</ion-item>
			</ion-list>

	</ion-content>
</ion-view>
