<ion-view view-title="Forgot Password" cache-view="false">
  <ion-nav-buttons side="left">
    <a href="#/app/login" class="button button-icon ion-ios-arrow-back" style="color:#fff;"> Back</a>
  </ion-nav-buttons>

  <ion-content>
    <ion-item>
      <div class="item-text-wrap text-general">
        Please enter your registered email. We will send you a new password. Also remember to check in the SPAM tray.
      </div>
      <br>
      <div class="item-text-wrap text-general">You are highly recommended to reset it after login.</div>
      <br>
      <form ng-submit="doForgotPassword()">
        <div>
          <label class="item item-input">
            <input type="email" name="email" placeholder="Email" ng-model="data.email" autocapitalize="off" required>
          </label>
          <br>
          <label>
            <input class="button button-block button-dark text-general" type="submit" name="submit" value="RESET PASSWORD">
          </label>
        </div>
      </form>
    </ion-item>
  </ion-content>
</ion-view>
