<ion-view cache-view="false" hide-back-button="true" hide-nav-bar="true">
  <ion-nav-buttons side="left"></ion-nav-buttons>
  <ion-content>
  <img src="img/saymynameright.jpg" style="width: 100%;">
  <form ng-submit="doLogin()">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Username:</span>
        <input type="email" ng-model="loginData.username" autocapitalize="off" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Password:</span>
        <input type="password" ng-model="loginData.password" required>
      </label>

      <ion-list>
        <ion-checkbox ng-model="check.val"><span class="input-label">I accept the Terms and Conditions</span></ion-checkbox>
      </ion-list>

      <label class="item">
        <button class="button button-block button-positive text-general" type="submit">LOGIN</button>
      </label>
      <br>
      <div align="center">
        <a style="text-decoration:none;" ng-href="#/app/forgotPassword" class="text-general">¿Forgot Password?</a>
      </div>
    </div>
  </form>
  </ion-content>
</ion-view>
