<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content drag-content="toggledrag">
    <ion-nav-bar class="nav-color bar-stable">
      <!--<ion-nav-back-button> </ion-nav-back-button>-->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
       <div class="item img-menu">
            <img style="width: 100%;" src="img/saymynameright.jpg">
       </div>
       <ion-item class="item-avatar">
         <img style="border: 2px solid #3333cc;" ng-src="http://www.diazapps.com/{{pictureProfile}}">
         <h2 style="margin-top: 11px;">{{nameProfile}}</h2>
       </ion-item>
        <ion-item menu-close ng-href="#/app/courses" class="item-icon-left">
          <i class="icon ion-ios-home"></i> Home
        </ion-item>
         <ion-item menu-close ng-href="#/app/settings" class="item-icon-left">
          <i class="icon ion-ios-gear"></i> Settings
        </ion-item>
        <ion-item menu-close ng-href="#/app/about" class="item-icon-left">
         <i class="icon ion-ios-information"></i> About
       </ion-item>
       <ion-item menu-close ng-controller="logoutCtrl" class="item-icon-left">
         <a style="text-decoration:none !important; color:#444 !important;" ng-click="logOut()">
           <i class="icon ion-log-out"></i> Logout
         </a>
      </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
