<ion-view view-title="Settings" hide-back-button="true">
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
	</ion-nav-buttons>

	<ion-content>
	<ion-grid>
		<div class="row container_image_profile">
			<a ng-click="addMedia()">
				<img ng-if="imgURI != null" class="img_perfil" ng-src="{{rutaImagenPerfil}}">
				<img ng-if="imgURI == null && user.picture != ''" class="img_perfil" ng-src="http://www.diazapps.com/{{user.picture}}">
				<img ng-if="user.picture == ''" class="img_perfil" ng-src="img/null.png">
			</a>
		</div>
		<div class="list">
			<label class="item item-input">
				<span class="input-label">First name:</span>
				<input type="text" ng-model="user.first_name" class="input-registro">
			</label>
			<label class="item item-input">
				<span class="input-label">Last name:</span>
				<input type="text" ng-model="user.last_name" class="input-registro">
			</label>
			<label class="item item-input">
				<span class="input-label">Account Password:</span>
				<a ng-href="#/app/changePassword">
					<button style="background:#eee; padding:8px 9px;" class="changePassword">
						<h4 style="color: #333 !important; font-size:15px;">Change Password</h4>
					</button>
				</a>
			</label>
		</div>
		<div class="row">
			<div class="col col-50"><h3 style="color:#888888;">Audio:</h3></div>
			<div class="col">
					<a ng-if="name_sound_path.length < 1" onClick="document.getElementById('audio_play_settings').play(); return false;">
						<img ng-src="img/play.png" height="42px">
					</a>
					<a ng-if="name_sound_path.length > 1" ng-click="playing(name_sound_path)">
						<img ng-src="img/play.png" height="42px">
					</a>
			</div>
			<div class="col">
					<a on-hold="recordStart()" on-release="recordEnd()">
						<img ng-src="img/mic.png" height="42px">
					</a>
			</div>
			<audio ng-src="{{ user.sound | diazapps }}" type="audio/mpeg" id="audio_play_settings"></audio>
		</div>

		<div class="row">
			<div class="botones-perfil">
				<button style="background:#fff; border:1px solid #ef473a;" ng-click="updateProfile()">
					<h4 style="color: #333 !important; font-size:16px;"> Save Profile </h4>
				</button>
				&nbsp;&nbsp;&nbsp;
				<a ng-href="#/app/courses">
					<button style="background:#fff; border:1px solid #ef473a;" >
						<h4 style="color: #333 !important; font-size:16px;"> Cancel </h4>
					</button>
				</a>
			</div>
		</div>

	</ion-grid>
	</ion-content>
</ion-view>
