/* Empty. Add your own CSS if you like */
h2.post-title{
		margin-top: 30px;
}

.item-avatar-right > img:first-child, .item-avatar-right .item-image, .item-avatar-right .item-content > img:first-child, .item-avatar-right .item-content .item-image {
    position: absolute;
    top: 42px;
    right: 7px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image {
    position: absolute;
    top: 26px;
    left: 10px;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
}
.item-avatar-right, .item-avatar-right .item-content {
    min-height: 0px;
}

.nav-color{
		background: rgb(65, 57, 185) !important;
}

.bar.bar-stable .title {
     color: #fff !important;
}
.bar-stable .button.button-clear {
    color: #fff;
}

.courses-list-title{
    font-size: 90%;
    color: dimgrey;
}

.img-menu{
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.name-font{
   color: #575757;
}
.container_image_profile a{
	margin: auto;
}

.img_perfil{
	width: 180px;
	height: 180px;
	margin: auto;
	border-radius: 50%;
	margin-top: 8px;
	margin-bottom: 12px;
}
.popup-vertical-buttons .popup-buttons {
  display: block;
}
.popup-vertical-buttons .popup-buttons .button{
  display: block;
	margin-bottom: 15px;
	border: 2px solid #eee;
}
.botones-perfil{
	margin: auto;
	margin-top: 16px;
}
.input-registro{
	font-size: 16px !important;
	padding-top: 6px !important;
	color: #222222;
}
.perfil-avatar.item-avatar img{
	max-width: 54px !important;
	max-height: 54px !important;
}
a.courses-list{
	text-decoration: none;
	font-size: 17px;
	display: block;
}

/* --- Media Queries para iPad --- */
@media only screen and (min-width: 768px) and (orientation: portrait) {
 .menu.menu-left{
  	width: calc(52%) !important;
 }
 .menu-open .menu-content{
  	transform: translate3d(calc(52%), 0px, 0px) !important;
 }
 .item {
  font-size: 21px;
 }
 .item-avatar h2{
	 font-size: 21px;
 }
 .courses-list-title{
	 font-size: 21px;
 }
 .container_image_profile{
	 width: 270px;
	 margin: auto;
 }
 .img_perfil{
	 width: 260px;
	 height: 260px;
	 margin-top: 16px;
	 margin-bottom: 16px;
 }
 .input-label, .text-general {
	 font-size: 21px;
	 line-height: 30px;
 }
 .item-input input{
	 font-size: 21px;
 }
 div.title.title-center.header-item{
	 font-size: 22px;
 }
 a.button.button-icon.ion-ios-arrow-back{
	 font-size: 21px;
 }
 .bar .button.button-icon:before,
 .bar button.button-icon:before{
	 font-size: 43px;
 }

 .botones-perfil h4{
	 font-size: 22px !important;
 }
 .changePassword h4{
	font-size: 19px !important;
 }
 .input-registro{
 	font-size: 22px !important;
 	padding-top: 6px !important;
 	color: #222222;
 }
 .perfil-avatar.item-avatar img{
 	max-width: 64px !important;
 	max-height: 64px !important;
 }
 a.courses-list{
 	text-decoration: none;
 	font-size: 21px;
 	display: block;
 }
 .course-list h3, .course-list h4{
		font-size: 23px !important;
 }
 .course-list h2{
		font-size: 21px !important;
 }
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader){
	height: 74px;
}
.platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader{
	top: 74px;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > *{
	margin-top: 25px;
}




}
